<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width-device-width, initial-scale=1.0">
        <title>Solicitar pago</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="rectangulo-superior">

	</div>	
        <div class="wrapper">
            <form action="">

                <div class="input-box">
                    <input type="text" placeholder="Matricula" required>
                </div>
                
		<div class="input-box">
                    <input type="text" placeholder="Total a pagar" required>
                </div>
                
		<div class="input-box">
                    <input type="text" placeholder="Concepto" required>
                </div>
                
		<div class="space">

                </div>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </body>
</html>
