<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width-device-width, initial-scale=1.0">
        <title>Historial de pagos</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body> 
        <div class= "rectangulo-superior">
	</div>    
        <div class="wrapper">
            <form action="">
                <div class="input-box">
                    <p>Juán</p>
                </div>
                <div class="input-box">
                    <p>Aquí van los datos</p>
                </div>
                
                <div class="space">

                </div>
                <button type="submit" class="btn">Ver historial de pago detallado </button>
            </form>
        </div>
         <div class= "rectangulo-superior">
	</div>    
        <div class="wrapper">
            <form action="">
                <div class="input-box">
                    <p>Juán</p>
                </div>
                <div class="input-box">
                    <p>Aquí van los datos</p>
                </div>
                
                <div class="space">

                </div>
                <button type="submit" class="btn">Ver historial de pago detallado </button>
            </form>
        </div>

    </body>
</html>
