<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Registrar Pago</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="rectangulo-superior"></div>	
    <div class="wrapper">
        <form action="/user/registrarPago" method="POST"> 

            <div class="input-box">
                <input type="number" name="idUsuario" placeholder="ID del Usuario" required>
            </div>

            <div class="input-box">
                <input type="number" name="idDeuda" placeholder="ID de la Deuda" required>
            </div>

            <div class="input-box">
                <input type="text" name="cantidadPagada" placeholder="Cantidad Pagada" required>
            </div>

            <div class="input-box">
                <input type="text" name="fechaDePago" placeholder="Fecha de Pago" onfocus="(this.type='date')" required>
            </div>

            <div class="input-box">
                <input type="text" name="metodo" placeholder="Método de Pago" required>
            </div>

            <div class="input-box">
                <input type="text" name="banco" placeholder="Banco" required>
            </div>

            <div class="input-box">
                <input type="text" name="nota" placeholder="Nota" required>
            </div>

            <div class="input-box">
                <input type="text" name="prorroga" placeholder="Prórroga" onfocus="(this.type='date')">
            </div>

            <div class="space"></div>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
</body>
</html>

