<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Registrar Pago</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 
    <div class="wrapper">
        <form action="/user/registrarPago" method="POST"> 

            <div class="input-box">
		 <label for="IDUsuario">ID del Usuario:</label>
                <input type="number" name="IDUsuario" placeholder="ej: 22" required>
            </div>

            <div class="input-box">
		<label for="IDDueda">ID de la Deuda:</label>
                <input type="number" name="IDDueda" placeholder="ej: 99" required>
            </div>

            <div class="input-box">
		<label for="Cant_pagada">Cantidad Pagada:</label>
                <input type="text" name="Cant_pagada" placeholder="ej: 1560" required>
            </div>

            <div class="input-box">
		<label for="Fecha_de_pago">Fecha de Pago:</label>
                <input type="text" name="Fecha_de_pago" placeholder="ej: 2024-04-04" onfocus="(this.type='datetime')" required>
            </div>

            <div class="input-box">
		<label for="Metodo">Método de Pago:</label>
                <input type="text" name="Metodo" placeholder="ej: Efectivo" required>
            </div>

            <div class="input-box">
		<label for="Banco">Banco:</label>
                <input type="text" name="Banco" placeholder="ej: Santander" required>
            </div>

            <div class="input-box">
		<label for="Nota">Nota:</label>    
                <input type="text" name="Nota" placeholder="ej: Colegiatura" required>
            </div>

            <div class="input-box">
		<label for="Prorroga">Prórroga:</label>
                <input type="text" name="Prorroga" placeholder="ej: 2024-05-05" onfocus="(this.type='datetime')">
            </div>

            <div class="space"></div>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
</body>
</html>

