<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width-device-width, initial-scale=1.0">
        <title>Registar pago</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="rectangulo-superior">

	</div>	
        <div class="wrapper">
            <form action="">

                <div class="input-box">
                    <input type="text" placeholder="Matricula Alumno" required>
                </div> 

                <div class="input-box">
                    <input type="text" placeholder="Monto" required>
                </div>
                    
                <div class="input-box">
                    <input type="text" placeholder="Referencia" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Concepto" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Banco" required>
                </div>

		<div class="input-box">
                    <input type="date" placeholder="Fecha de pago" required>
                </div>
                
                <div class="input-box">
                    <input type="text" placeholder="Porcentaje" required>
                </div>

                <div class="input-box">
                    <input type="month" placeholder="Mes" required>
                </div>

		<div class="input-box">
                    <input type="text" placeholder="Nota" required>
                </div>

                <div class="space">

                </div>
                <button type="submit" class="btn">Registar</button>
            </form>
        </div>
    </body>
</html>


